<h3 class="text-primary mt-1">Iniciar Sesion (Login)</h3>
<hr>
<mat-card>
  <mat-card-title color="primary">Login</mat-card-title>
  <mat-card-content>
    <form autocomplete="off"
        [formGroup]="myFormLogin"
        (ngSubmit)="login()">
        <mat-form-field>
          <input type="email"
                 matInput
                 formControlName="email"
                 placeholder="Ingrese su email">
        </mat-form-field>
        <mat-form-field>
          <input type="password"
                  matInput
                  formControlName="password"
                  placeholder="Ingrese su clave">
        </mat-form-field>

        <div class="button">
          <button type="submit"
                  color="primary"
                  mat-raised-button
                  [disabled]="!myFormLogin.valid">
            Login
          </button>
        </div>
    </form>
  </mat-card-content>
</mat-card>

<div class="alert alert-info mt-2"
     role="alert"
     *ngIf="showmsg">
    <mat-progress-bar
          [mode]="'indeterminate'">
    </mat-progress-bar>
    Conectando...!
</div>
